<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inc.ahmedmourad.jokedialog">

    <application>
        <activity android:name=".JokeActivity"
            android:theme="@style/DialogTheme"
            android:excludeFromRecents="true" />
    </application>

</manifest>